@font-face {
  font-family: "DungGeunMo";
  src: url("/assets/DungGeunMo.ttf") format("truetype");
  font-weight: 300; /* 폰트를 얇게 설정 */
  font-style: normal;
}

body {
  padding: 20px;
  font-family: "DungGeunMo", Arial, sans-serif;
  background-color: #01131f;
  color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
}

/* 컨테이너 */
.container {
  text-align: center;
}

/* 로고 스타일 */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px; /* 간격 수정 */
}

.logo a {
  text-decoration: none;
  color: #b3ff43;
  display: flex;
  align-items: center;
  font-size: 22px; /* 크기 증가 */
}

.logo img {
  width: 40px;
  height: auto;
  margin-right: 20px;
}

/* 로그인 폼 */
.signup-form {
  display: inline-block;
  text-align: left;
  width: 380px; /* 길이 증가 */
}

.input-container {
  position: relative; /* 내부 요소의 위치를 상대적으로 배치 */
  width: 100%; /* 컨테이너 전체 너비 */
}

.input-container input {
  width: 100%; /* 전체 너비 */
  padding-right: 100px; /* 버튼 위치를 위한 오른쪽 여백 추가 */
  padding-left: 14px; /* 기본 패딩 */
  height: 40px; /* 높이 설정 */
  border: 2px solid #304d5d; /* 테두리 */
  border-radius: 5px;
  background-color: #01131f; /* 배경색 */
  color: #cccccc; /* 텍스트 색상 */
  font-size: 16px;
  font-family: "DungGeunMo", Arial, sans-serif;
  box-sizing: border-box; /* 패딩 포함 크기 계산 */
}

.check-btn {
  position: absolute; /* 부모 요소(input-container) 기준으로 배치 */
  top: 50%; /* 입력 필드 중앙에 맞춤 */
  right: 10px; /* 입력 필드 오른쪽과 간격 */
  transform: translateY(-133%); /* Y축 중앙 정렬 */
  height: 30px; /* 버튼 높이를 입력 필드와 맞춤 */
  padding: 10 14px; /* 좌우 여백 */
  background-color: #007bff; /* 버튼 배경색 */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-family: "DungGeunMo", Arial, sans-serif;
  cursor: pointer;
}

.check-btn:hover {
  background-color: #0056b3; /* hover 시 색상 변경 */
}


/*여기까지*/

.signup-form label {
  display: block;
  font-size: 18px; /* 크기 증가 */
  margin-bottom: 10px; /* 간격 증가 */
  font-family: "DungGeunMo", Arial, sans-serif;
}

.signup-form input {
  width: 100%;
  padding: 14px; /* 크기 증가 */
  margin-bottom: 50px; /* 간격 수정 */
  border: 2px solid #304d5d; /* 테두리 색상 적용 */
  border-radius: 5px;
  background-color: #01131f;
  color: #304d5d;
  font-size: 16px;
  font-family: "DungGeunMo", Arial, sans-serif;
  box-sizing: border-box;
}
.signup-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #b3ff43, #6b9928);
  color: #f9ffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 50px;
  margin-bottom: 50px;
}

.signup-btn:hover {
  background: linear-gradient(to right, #6b9928, #b3ff43);
}

/* 회원가입 링크 */
.register-link p {
  font-size: 18px;
  margin-top: 50px;
}
.register-link a {
  color: #4fa5ff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.register-link a:hover {
  text-decoration: underline;
}
