:root {
  --main-color: #b3ff43;
  --back-color: #01131f;
  --depth-first-color: #011c2d;
  --depth-second-color: #0a2737;
  --depth-third-color: #163142;
  --font-bright-color: #f9ffff;
  --font-white-color: #ededed;
  --font-gray-color: #cccccc;
  --font-dark-color: #304d5d;
}
