@import "../paging/paging.css";

#group-rank-title {
    font-size: 30px;
	color: var(--main-color);
	width: 100%;
	text-align: center;
}

.group-rank-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.group-rank-card {
    background-color: var(--depth-second-color);
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
}

.group-rank-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.group-rank-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.group-rank-card-header h2 {
    font-size: 24px;
    color: var(--font-bright-color);
    margin: 0;
}

.group-rank-card-title {
	display: flex;
	align-items: center;
	gap: 5px;
}

.group-name {
	font-size: 20px;
	color: var(--main-color);
    text-decoration: none;
}

.group-people {
	display: flex;
	align-items: center;
	gap: 3px;
}

.group-people img{
	width: 15px;
	height: 15px;
}

.group-rank-card-content {
    margin-top: 10px;
}

.group-rank-card-content p {
    margin: 5px 0;

}

.group-rank-card-footer {
    margin-top: 15px;
    text-align: right;
    font-size: 20px;
}

.group-rank-card-footer strong{
    color: var(--main-color);
}

.follow-btn {
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    color: var(--back-color);
    transition: 0.3s;
    font-size:24px;
}

.follow-btn:hover {
    background-color: #95c947;
}


